/* html,body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('https://thumbs.dreamstime.com/z/job-search-seeking-employment-concept-background-word-cloud-34898642.jpg'); 
  background-size: cover;
  height: 100vh;
} */