body {
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
  /* background: url('https://image.freepik.com/free-vector/jobs-background-design_1200-196.jpg');  */
  background-size: cover;
  height: 100vh;
}